*{
    box-sizing: border-box;
}
body{
    background-color:lightblue;
}
main{
    background-color: antiquewhite;
    display: flex;
    
    flex-wrap: wrap;
}
header{
    width: 50%;
    margin-left: auto;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
.category{
    display: flex;
    justify-content: space-between;
    gap:100px;
    
}
.cards{
    border: 1px solid black;
    width:30%;
    margin-left:30px;
    margin-top: 20px;

}

.cards>img{
    width: 100%;
}